In [2]:
from sklearn.feature_selection import SelectKBest, f_regression
import seaborn as sns

1. Load the `tips` dataset.

    1. Create a column named `price_per_person`. This should be the total bill divided by the party size.
    2. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount?
        - 
    3. Use select k best to select the top 2 features for predicting tip amount. What are they?
    4. Use recursive feature elimination to select the top 2 features for tip amount. What are they?
    5. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features you are selecting?

In [4]:
# load tips data
tips_df = sns.load_dataset('tips')
# create price per person
tips_df['price_per_person'] = tips_df['total_bill'] / tips_df['size']
tips_df

     total_bill   tip     sex smoker   day    time  size  price_per_person
0         16.99  1.01  Female     No   Sun  Dinner     2          8.495000
1         10.34  1.66    Male     No   Sun  Dinner     3          3.446667
2         21.01  3.50    Male     No   Sun  Dinner     3          7.003333
3         23.68  3.31    Male     No   Sun  Dinner     2         11.840000
4         24.59  3.61  Female     No   Sun  Dinner     4          6.147500
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3          9.676667
240       27.18  2.00  Female    Yes   Sat  Dinner     2         13.590000
241       22.67  2.00    Male    Yes   Sat  Dinner     2         11.335000
242       17.82  1.75    Male     No   Sat  Dinner     2          8.910000
243       18.78  3.00  Female     No  Thur  Dinner     2          9.390000

[244 rows x 8 columns]

2. Write a function named `select_kbest` that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the `SelectKBest` class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [ ]:
def select_kbest(X, y, k):
    return 0

3. Write a function named `rfe` that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the `RFE` class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [ ]:
def rfe(X, y, k):
    return 0

4. Load the `swiss` dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).