In [3]:
import pandas as pd
import sys
import os

home_directory_path = os.path.expanduser('~')
sys.path.append(home_directory_path +'/utils')
from acquire_utils import get_connection
from prepare_utils import identify_cols_with_white_space

1. Acquire `bedroomcnt`, `bathroomcnt`, `calculatedfinishedsquarefeet`, `taxvaluedollarcnt`, `yearbuilt`, `taxamount`, and `fips` from the `zillow` database for all 'Single Family Residential' properties.

In [2]:
df = pd.read_sql('''SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet,
                            taxvaluedollarcnt, yearbuilt, taxamount, fips 
                    FROM properties_2017; ''',
                   get_connection('zillow'))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 159.4 MB

2. Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

Handle missing values

Implicit: None

In [8]:
identify_cols_with_white_space(df)

[]

Explicit:

In [9]:
df.isnull().sum()

bedroomcnt                       2945
bathroomcnt                      2957
calculatedfinishedsquarefeet    45097
taxvaluedollarcnt               34266
yearbuilt                       47833
taxamount                       22752
fips                             2932
dtype: int64

Look for duplicates

In [11]:
df.duplicated().sum()

59513

In [12]:
df[df.duplicated()]

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
8,0.0,0.0,NaN,9.0,NaN,NaN,6037.0
12,0.0,0.0,NaN,9.0,NaN,NaN,6037.0
16,0.0,0.0,NaN,10.0,NaN,NaN,6037.0
92,0.0,0.0,NaN,9.0,NaN,NaN,6037.0
93,0.0,0.0,NaN,9.0,NaN,NaN,6037.0
...,...,...,...,...,...,...,...
2985212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check column data types

In [ ]:
df.info()

3. Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your wrangle.py file. Name your final function wrangle_zillow.

In [ ]:
def wrangle_zillow_data():
    '''
    Acquire zillow data from MySQL database
    Prepare data by handling missing values and duplicates
    Save wrangled data into a csv
    '''
    # acquire MySQL data
    df = pd.read_sql('''SELECT bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet,
                            taxvaluedollarcnt, yearbuilt, taxamount, fips 
                    FROM properties_2017; ''',
                   get_connection('zillow'))
    
    # handle missing values
    
    
    # handle duplicates
    
    
    # cache data
    df.to_csv('data/zillow_data.csv')
    
    return df

Simple Regression: A statistical model that uses a feature or reatures to create a best fit line or n-dimensional plane to predict a numerical target. This best fit line is a simple, meaning the variables are not multi-dimensional.

Polynomial Regression: A statistical model that uses a feature or reatures to create a best fit line or n-dimensional plane to predict a numerical target. This best fit line is plynomial, meaning the variables can be multi-dimensional.

Multiple Regression: One of the models above that uses multiple features.